.card-group{
    width: 85%;
    height: 15%;
    margin-top: 50px;
    margin-left: 4.5%;
    background-color: rgb(255, 255, 255);
    padding: 30px;

   
}
.card-img-top{
    max-height: 300px;
    min-height: 300px;
    max-width: 300px;
   
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
.about-text{
    margin-left: 5%;
}
#başlık{
    margin-left: 2.5%;
}
section {
    padding-top: 100px;
    padding-bottom: 50px;
 }
.icon-box{
    width: 60px;
    height: 60px;
    background-color: rgb(224, 6, 108);
    border-radius:5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
#fobilerim{
    max-width: 500px;
    max-height: 250px;
}
.card-title{
    margin-top: 20px;
}
.card{
    max-width: 300px;
    margin: 50px;
}

.nav-link{
    display: inline-block;
    padding-bottom:0.25rem;
    position: relative; 
    
}
.nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:aqua ;
    transition:width 0.5s ease-out;
}
.nav-link:hover::before{
    width: 100%;
}
.navbar-brand{
    display: inline-block;
    padding-bottom:0.25rem;
    position: relative; 
}
.navbar-brand::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:aqua ;
    transition:width 0.5s ease-out;
}
.navbar-brand:hover::before{
    width: 100%;
}

#selam{
    font-size: 22px;
}
	
