.nav-link{
    display: inline-block;
    padding-bottom:0.25rem;
    position: relative; 
    
}
.nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:aqua ;
    transition:width 0.5s ease-out;
}
.nav-link:hover::before{
    width: 100%;
}
.navbar-brand{
    display: inline-block;
    padding-bottom:0.25rem;
    position: relative; 
}
.navbar-brand::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:aqua ;
    transition:width 0.5s ease-out;
}
.navbar-brand:hover::before{
    width: 100%;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: rgb(216, 185, 244);
}

.result {
	background-color: rgb(255, 220, 254);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
    margin-top: 80px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
    
}
#köpek_btn{
    margin-top: 25px;
}

button {
	background-color: darksalmon;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 20px;
	width: 300px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}
.text{
  
    display: flex;
    align-items: center;
    justify-content: center;
   
}


@media screen and (max-width: 1000px) {
   .result{
       margin-left: 15px;
       margin-right: 15px;

   }
   .buttons{
    margin-left: 15px;
    margin-right: 15px;

   }
}