@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/img/header-bg.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;

}
.header-content h2 {
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background:rgb(20, 220, 220);
    margin :10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px;
    background:rgb(7, 194, 128);
    border-radius: 30px;
    color: whitesmoke ;

}


a{
    text-decoration: none;

}